# Dedalus API Key
DEDALUS_API_KEY=dsk_your_key
DEDALUS_AS_URL=https://as.dedaluslabs.ai

# Discord Credentials
DISCORD_APP_ID=your_discord_app_id_here
DISCORD_TOKEN=your_discord_token_here
DISCORD_PUBLIC_KEY=your_discord_public_key_here
DISCORD_POST_CHANNEL_ID=your_discord_channel_id_here
